@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current count double: @DoubleCount()</p>
<p role="status">@currentCount x 2 = @DoubleCount()</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>

<button class="btn btn-danger" @onclick="DecrementCount">Decrement</button>

@if (currentCount != 0)
{
    @* estou utilizando uma lambda (no JS chamam de arrow function) aqui... *@
    <button class="btn btn-secondary" @onclick="() => currentCount = 0">Reset</button>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }

    private int DoubleCount()
    {
        return currentCount * 2;
    }
}
